@font-face {
    font-family: 'Segment7';
    src: url('G7_Segment_7a.ttf') format('truetype');
}

/* Global colors */
:root {
    --background: #1A1B26;
    --text-color: #A9B1D6;
    --primary-color: #BB9AF7;
    --secondary-color: #2F3755;
}

body {
    background-color: var(--background);
    color: var(--text-color);
    font-family: 'Fira Code', monospace;
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    width: 80%;
}

main {
    padding: 1em;
    margin: 1rem;
    flex-grow: 1;
}

h1 {
    text-align: center;
    color: var(--text-color);
    background-color: var(--secondary-color);
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

h2 {
    text-align: center;
    font-size: 2em;
}

.box {
    color: var(--text-color);
    background-color: var(--secondary-color);
    border: #BB9AF7 4px solid;
    border-radius: 5px;
    margin-bottom: 4rem;
}

.timer {
    font-family: 'Segment7', monospace;
    font-size: 4rem;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 10px;
    text-align: center;
}

.timer-smaller {
    font-family: 'Segment7', monospace;
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 10px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#toggle-btn {
    font-family: 'Share Tech Mono', monospace;
    font-size: 2rem;
    background-color: #218c61;
    color: #b5baf4;
    border: 2px solid #b5baf4;
    border-radius: 8px;
    padding: 1.5rem 5rem;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

#toggle-btn:hover {
  background-color: #2e2e5f;
  color: #ffffff;
}

footer {
    text-align: center;
    color: var(--text-color);
    font-size: 0.8em;
    margin-top: 2rem;
}